.card {
    min-width: 250px;
    height: 350px;
    margin-left: 10px;
    margin-bottom: 15px;
    background:rgb(255, 255, 255);
    box-shadow: 2px 2px 5px #24242480;
}
.card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
}
.card-info img{
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    object-position: center;
}
.card-text {
    padding:15px
}
.card-text h3 {
    margin:10px 0;
}
.card-text p {
    margin:0
}
.card-btn {
    display: flex;
    justify-content: space-between;
    padding:15px
}