.App-header {
  background-color: #a77f4c;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.App-header a {
  color: #fff;
  position: relative;
  font-weight: 400;
  font-size: 1.2rem
}
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

}
.container {
  width: 80%;
  min-height: calc(100vh - 80px);
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.row {
  display: flex;
  height: 100%;
}
@media screen and (max-width:575.98px) {
  .container {
    width: calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
  }
  .row.home {
    flex-direction: column;
    align-items: center;
  }
}


.filter-col {
  padding:15px; 
  width:250px;
}
.recipe-col{
  padding:15px; 
  width: 80%;
  height: 100%;
}
@media screen and (max-width:1169.98px) {
  .recipe-col{
    width: 60%;
  }
}
@media screen and (max-width:699.98px) {
  .recipe-col{
    width: 50%;
  }
}
.cardWrapper {
  width: 100%;
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.mainTitle {
  font-size: 2em;
  width: 100%;
  border-bottom: 4px solid #000;
  padding:10px 0;
}
/* FILTER */
.filter-group {
  position: sticky;
  top: 15px;
  background-color: #a77f4c;
  padding:15px
}
.filter-group input {
  padding:5px
}
#searchBar {
  padding: 5px;
}
.filter-item {
  display: flex;
  flex-direction: column;
  color:white;
  margin-bottom: 15px;
}
.filter-item .nbPers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.filter-item .nbPers input {
  max-width: 50px;
}
.filter-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
/* detail recette  */
.recipeWrapper {
  display: flex;
  flex-direction: column;
  padding:15px
}
.recipe {
  display: flex;
  width: 100%;
}
.recipeWrapper img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}
.recipe .recipe-text {
  padding-right:15px;
  width: 100%;
}
.recipe-text p {
  font-size: 1.1em;
  margin:10px 0;

}
.recipe-text ol {
  padding-left: 15px;
}
.recipe .ingredients {
  width: 400px;
  background-color: #a77f4c30;
  padding:15px;
}
.ingredients ul li {
  position: relative;
  padding-left: 15px;
}
.ingredients li::before {
  content:'';
  width: 5px;
  height: 2px;
  background-color: #2c313f;
  position: absolute;
  left: 2px;
  top: 50%;
}
@media screen and (max-width: 850px) {
  .recipe {
    flex-direction: column;
  }
  .recipe .ingredients {
    width: 100%;
  }
}
/* Formulaire d'ajout de recette */

.container.form-add h1 {
  text-align: center;
  margin-bottom: 50px;

}
.col {
  width: 50%;
  padding: 0 15px;
}

.form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
.listToAdd,.addStep {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}
.listToAdd input {
  width: 50%;
}
.addStep {
  flex-direction: row;
}
.addStep textarea {
  width: 100%;
}
.form-add label {
  margin-bottom: 5px;
}
.form-item input,.form-item select {
  border:1px solid #2c313f;
  border-radius: 4px;
  padding:5px 10px;
}
.preview textarea {
  max-height: 100%;
  max-width: 100%;
}
.preview {
  padding: 15px;
  margin:15px;
  background-color: #a77f4c30;
}
@media screen and (max-width:1169.98px) {

  .row.formAdd {
    flex-direction: column;
  }
  .col {
    width: 100%;
    padding:0;
  }
  .form {
    width: 100%;
  }
  .preview {
    padding: 15px;
  }
}
.preview h2 {
  border-bottom:4px solid #2c313f;
}
.preview .img {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview .img img {
  max-width: 50%;
  max-height: 100%;
}
.preview p {
  margin: 15px 0;
  font-size: 1rem;
}
.preview ul {
  list-style-type: disc;
  padding-left: 25px;
}
.preview ol {
  padding-left: 25px;
}
.preview li {
  margin-bottom: 15px;
}
.preview li .btn {
  margin-left: 15px;
}

.row-edit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #2c313f;

}

/* Pages edit  */
.edit-form {
  background:#a77f4c30;
  padding:15px;
  margin-bottom: 15px;
}
.edit-col {
  width: 33%;
  display: flex;
  flex-direction: column;
  padding:15px
}
.edit-col:not(:last-child) {
  border-right: 2px solid #2c313f;
}
@media screen and (max-width:1199.98px) {
  .row-edit {
    flex-direction: column;
  }
  .edit-col {
    width: 100%;
  }
  .edit-col:not(:last-child) {
    border-right: none;
  }
}
.edit-form textarea,.edit-form input {
  width: 100%;
  max-width: 100%;
  padding:5px;
}
.edit-form input[name="qte"],.edit-form input[name="qteIngredient"] {
  width: 25%;
}
.list-item {
  display: flex;
  margin-bottom: 15px
}

/* BTN */
.btn {
  padding:5px 10px;
  color:white;
  border:none;
  border-radius: 5px;
  cursor: pointer;
}
.addBtn {
  margin-left: 15px;
}
.editBtn,.addBtn {
  background-color:#138496;
}
.deleteBtn,.removeBtn {
  background-color: #dc3545;
}
.btn-col {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.removeBtn {
  margin-left: 15px;
}
.submitBtn{
  background-color: #218838;
  width: 60%;
  padding: 5px;
  font-size: 1.2em;
}
/* POPUP */
.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  width: 300px;
  padding:20px;
  max-height: 130px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.popup p {
  margin-bottom: 15px;
}
.popup .noBtn {
  background-color: rgb(20, 98, 214);
}
.popup .yesBtn {
  background-color: rgb(175, 50, 50);
  margin-left: 15px;
}

div.alert-msg {
  background-color: aliceblue;
  padding:15px;
  margin:15px 0
}
.bold {
  font-weight: bold;
}