.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.recipeWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;
  padding:15px;
}
